set -U fish_greeting

set -gx EDITOR nvim
set -gx VISUAL nvim

fish_add_path $HOME/.bun/bin
fish_add_path $HOME/.cargo/bin
fish_add_path $HOME/.local/bin
fish_add_path $HOME/go/bin

{{ if eq .chezmoi.os "darwin" -}}
fish_add_path /opt/homebrew/bin
{{ else if eq .chezmoi.os "linux" -}}
fish_add_path /home/linuxbrew/.linuxbrew/bin
set -gx XDG_RUNTIME_DIR /run/user/(id -u)
{{ end -}}

if status is-interactive
    mise activate fish | source
    atuin init fish | source
    zoxide init fish | source
end

direnv hook fish | source

# Load local-only fish functions/config that are intentionally not tracked in chezmoi.
if test -d $HOME/.config/fish/local_functions
    set -g fish_function_path $HOME/.config/fish/local_functions $fish_function_path
end

if test -d $HOME/.config/fish/local.d
    for file in $HOME/.config/fish/local.d/*.fish
        test -f $file; and source $file
    end
end
