set -U fish_greeting

set -gx EDITOR nvim
set -gx VISUAL nvim

fish_add_path $HOME/.bun/bin
fish_add_path $HOME/.cargo/bin
fish_add_path $HOME/.local/bin
fish_add_path $HOME/go/bin

{{ if eq .chezmoi.os "darwin" -}}
fish_add_path /opt/homebrew/bin
{{ else if eq .chezmoi.os "linux" -}}
fish_add_path /home/linuxbrew/.linuxbrew/bin
{{ end -}}

if status is-interactive
    mise activate fish | source
    atuin init fish | source
    zoxide init fish | source
end

direnv hook fish | source
